$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


:root {
	--font-family: "DM Sans", sans-serif;
	--second-family: "Rubik", sans-serif;
	--third-family: "Roboto", sans-serif;


	--transition: .2s all ease-in-out;

	--c-primary: #0b8fed;
	--c-text-white: #fff;
	--c-border: #eee;


}
