.join {
    border-radius: 34rem;
    padding: 50rem 155rem 38rem 155rem;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(254, 254, 255, 0.01), rgba(255, 255, 255, 0.02) 100%);
    margin-bottom: 98rem;
   
    @include mobile {
        padding: 25rem 72rem 19rem 72rem;
        margin-bottom: 30rem;
    }

    &__title {
        font-family: var(--ff);
        font-weight: 700;
        font-size: 36rem;
        color: #fff;
        margin-bottom: 13rem;
    }

    &__desc {
        color: rgb(255, 255, 255);
        font-family: var(--font-family);
        font-size: 15rem;
        font-weight: 400;
        line-height: 30rem;
        margin-bottom: 29rem;
        max-width: 739rem;
        margin-inline: auto;
        text-align: center;
    }

    &__subscribe {
        @include tablet {
            display: none;
        }
    }
}

.join-form {
    border-radius: 50rem;
    background: linear-gradient(180.00deg, rgba(254, 254, 255, 0.03), rgba(255, 255, 255, 0.05) 100%);
    padding: 10rem 10rem 10rem 44rem;
    padding-right: 14rem;
    gap: 10rem;
    display: flex;
    max-width: 717rem;
    margin-inline: auto;

    @include mobile {
        padding: 5rem 5rem 5rem 10rem;
        border-radius: 20rem;
    }

    &__input {
        width: 100%;
        background: transparent;
        border: 0;
        color: rgb(255, 255, 255);
        font-family: var(--second-family);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

        @include mobile {
            font-size: 12px;
        }

        &::placeholder {
            color: rgb(255, 255, 255);
        }

    }

    &__btn {
        display: inline-flex;
        align-items: center;
        background: linear-gradient(-45deg, #4800ff, #7653cf, #150dff, #4c4cb5);
        background-size: 400% 400%;
        opacity: 0.9;
        padding: 15rem 49rem 15rem 26rem;
        font-family: var(--ff);
        font-weight: 600;
        font-size: 20rem;
        color: #fff;
        border-radius: 24rem;
        animation: gradient 4s ease infinite;

        @include tablet {
            padding: 15rem;
        }

        &-text {
            @include mobile {
                display: none;
            }
        }

        .material-icons {
            display: none;

            @include mobile {
                display: inline-block;
            }
        }

    }

    &__btn span {
        display: flex;
        align-items: center;
        gap: 8rem;
    }
}